.authorProfile
  &__inner
    width 100%
    height 100%
    padding 4rem 0
    background url('/background.jpg')
    background-position 50% 50%
    background-size cover
    &__image
      width 96px
      height 96px
      margin 0 auto 1rem
      background url('https://pbs.twimg.com/profile_images/521376175021510656/eMrT0ksU_400x400.jpeg')
      background-position 50% 50%
      background-size cover
      border 1px rgba(255, 255, 255, .5) solid
      border-radius 50%
    &__name
      text()
      margin 0 2rem
      color #fff
      font-size $fontSizeBiggest
      text-align center
      text-shadow 0 0 3px rgba(0, 0, 0, .5)
    &__screenname
      text()
      margin 0 2rem 2rem
      padding-bottom 2rem
      border-bottom 1px rgba(255, 255, 255, .5) solid
      color #fff
      text-align center
      text-shadow 0 0 3px rgba(0, 0, 0, .5)
    &__bio
      text()
      margin 0 2rem 2rem
      padding-bottom 2rem
      border-bottom 1px rgba(255, 255, 255, .5) solid
      color #fff
      // font-size $fontSizeSmaller
      text-align center
      text-shadow 0 0 3px rgba(0, 0, 0, .5)
