.blogPostCard
  &__inner
    &__thumbnail
      margin-bottom 20px
      border-radius 3px
    &__title
      margin-bottom 12px
      font-size $fontSizeBigger
    &__publishedAt
      color $colorGrey
